/***************************************************************

HEADLINES

*****************************************************************/
/* *********************************
FONTS

font-family: 'Roboto', sans-serif;
************************************/
* {
    margin: 0;
}



header{
    width: 100%;
    height:300px;
    background:black;
    opacity: .75;
}

header .h1_header {
    
    width: 100%;
    display: inline-block;
    margin-top: -2em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 4em;  
    color:ghostwhite;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 50px;
    letter-spacing: 0.05em;
    clear: both;
    text-align: center
 

    
    
}
.divCenter
{
text-align: center;  
magin top: 50px; 
}
    
.h2resume{
    margin-top: 100px;
    text-align: center;
    border-bottom: 2px solid;
    
}
.h2style {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    magin-bottom: 20px;
    color: whitesmoke;
    opacity: .79;
}



/***************************************************************

Border

*****************************************************************/

html, body {
background: url(../img/squared_metal.png);
}

/*****************************************************************

IMAGES

******************************************************************/
.logo_footer {
    margin-top: 1.3em;
    margin-left: 10em;
    padding: 10px;
    width:80px;
    height: 80px;
    
    
}

/*
.logo_header{
    display: inline-block;
    width:100%;
    height:auto;
    position: relative;
    float: left;
    padding: .625rem;
    width:7.5em;
    height: 7.5em;
*/
}
.imgcircle
{
border-radius: 50%;
}

/*****************************************************************

NAVIGATION

******************************************************************/
.wrap {
    text-align: left;
}

li{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    display:inline-block;
    margin-right: 10px;
    padding: 4px; 
    font-size:1.3em;
}


/*****************************************************************

BUTTONS

******************************************************************/

a {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
}
p a:hover {
  background: white;
  color: #E1332D;
}



/*****************************************************************

SOCIAL MEDIA ICONS

******************************************************************/


/*****************************************************************

FOOTER

******************************************************************/

.contact{
    width: 100%;
    height:0;
    display:inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: red;
    text-align: center;

}

#footer {
    width: 100%;
    height:0;
    background:black;
    clear: both;
    position: relative;
    z-index: 10;
    height: 10em;
    margin-top: -3em;
    opacity: .5;
}

#content { padding-bottom: 3em; }

html, body, #container { height: 100%; }
