/***************************************************************

HEADLINES

*****************************************************************/
* {
    margin: 0;
}
header{
    height:450px;
    background:url(../img/header.jpg) center center;
    background-size: cover;
}

h1 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 72px;
    weight: 700;  
    color:ghostwhite;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 100px;
    letter-spacing: 0.05em;
    clear: both;
    text-align: center;
    border-bottom: 2px solid ghostwhite;
    
    
}

    

h2 {
    font-size: 24px;
    text-align: center;
    magin-bottom: 20px;
    color: whitesmoke;
    opacity: .79;
}


html, body {
    background: #eff0f1;
       
}

/*****************************************************************

IMAGES

******************************************************************/

img {
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 300px;

}

.imgcircle
{
border-radius: 50%;
}

/*****************************************************************

NAVIGATION

******************************************************************/
.wrap {
    text-align: left;
}



a { 
    
    text-decoration: none;
    color: white
}
li{
    list-style: none;
    display:inline-block;
    margin-right: 20px;
    padding: 8px; 
    font-size: 25px;
}

a:hover {
    text-decoration: underline;
    color: black;
}


/*****************************************************************

SOCIAL MEDIA ICONS

******************************************************************/


/*****************************************************************

FOOTER

******************************************************************/

#footer {
    background: url(../img/header.jpg)  center;
    background-size: cover;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

#content { padding-bottom: 3em; }

html, body, #container { height: 100%; }
