/***************************************************************

HEADLINES

*****************************************************************/
/* *********************************
FONTS

font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
************************************/
* {
    margin: 0;
}



header{
    width: 100%;
    height:300px;
    background:black;
    opacity: .75;
}

header .h1_header {
    
    width: 100%;
    display: inline-block;
    margin-top: -2em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 4em;  
    color:ghostwhite;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 50px;
    letter-spacing: 0.05em;
    clear: both;
    text-align: center
 

    
    
}
.divCenter
{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100em;
}
    
.h2resume{
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
font-family: 'Oswald', sans-serif;
font-size: 24px;
letter-spacing: 1.5px;
    
}
.sub_resume {
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.5px;
    
}

.h2style {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    magin-bottom: 20px;
    color: whitesmoke;
    opacity: .79;
    letter-spacing: 4px;
}
.bq{
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    letter-spacing: 1px;
    
}
.h2resume_personal{
    color: red;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 100px;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    letter-spacing: 1.5px;
    float:left;

}
.h2resume_technical{
    color: red;
    text-align: center;
    margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 50px;
    float:right;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    letter-spacing: 1.5px;

}
.sub_resume_skills {
    color:black;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.5px;

}

/***************************************************************

Border

*****************************************************************/

html, body {
background: url(../img/squared_metal.png);
}


.b_border {
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid;
    width: 28em;
}
.b_border_resume {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    font-size: 50px; 
    margin-top: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid;
    width: 20em;
}
.b_border_resume_skills {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    font-size: 50px; 
    margin-top: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid;
    width: 20em;
}

.t_border {
    margin-top: 100px;
    margin-bottom: -160px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid;
    width: 28em;
}
/*****************************************************************

IMAGES

******************************************************************/

.EWU_LOGO{
 
    display: block;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
        width 150px;
    height: 275px;
}


.imgcircle
{
    display: block;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    border-radius: 50%;
}
.imgcircle_bottom
{
    display: block;
    float: right;
    margin-right: 750px;
    width: 3em;
    border-radius: 50%;
}

/*****************************************************************

NAVIGATION

******************************************************************/
.wrap {
    text-align: left;
}

li{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    display:inline-block;
    margin-right: 10px;
    padding: 4px; 
    font-size:1.3em;
}


/*****************************************************************

BUTTONS

******************************************************************/

a {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
}
 li a:hover {
  
  color: red;
}



/*****************************************************************

SOCIAL MEDIA ICONS

******************************************************************/

/*****************************************************************

FOOTER

******************************************************************/

.contact{
    
    margin-left: auto;
    margin-right: auto;
    display:block;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    color: aliceblue;
    text-align: center;

}

#footer {
    width: 100%;
    height:0;
    background:black;
    clear: both;
    position: relative;
    z-index: 10;
    height: 10em;
    margin-top: -3em;
    opacity: .5;
}

#content { padding-bottom: 3em; }

html, body, #container { height: 100%; }
