h1 {
    color:black;
    text-align: center
}

img {
    opacity: .5;
    width: 10%;
}
body {
   ;
}
a { 
    text-decoration: none;
    color: black;
    text-align: center;
}
li{
    list-style: none;
    display: inline;
    
    margin-left: 10px;
    padding: 8px;
    
    
}
